<%-include("partials/header")-%>
<h1><%=title%></h1>

<form method="POST" action="">

    <div class="form-group">
        <label for="book">Book</label>
        <select class="form-control" name="book" id="book" type="select" placeholder="Select book" required="true" >
            <%book_list.sort(function(a, b) {%>
                <%let textA = a.title.toUpperCase(); %>
                <%let textB = b.title.toUpperCase(); %>
                <%return (textA < textB) ? -1 : (textA > textB) ? 1 : 0; %>
            <%}) ;%>

            <% book_list.forEach(function(book){%>
                <%if(locals.bookinstance){%>
                    <option value="<%=book._id%>" selected="<%(bookinstance.toString()==book._id.toString() ? 'selected' : false) %>"><%=book.title%></option>
                <%} else{%>
                    <option value="<%=book._id%>"><%=book.title%></option>
                <%}%>
            <%})%>
        </select>
    </div>


    <div class="form-group">
        <label for="imprint">Imprint</label>
        <input id="imprint" class="form-control" type="text" placeholder="Publisher and date information" name="imprint" required="true" value= "<%(undefined === locals.bookinstance ? '' : bookinstance.imprint)%>">
    </div>

    <div class="form-group">
        <label for="due_back">Date when book available</label>
        <input class="form-control" type="date" name="due_back" id="due_back" value= "<%(undefined === locals.bookinstance ? '' : bookinstance.due_back)%>">
    </div>

    <div class="form-group">
        <label for="status">Status</label>
        <select class="form-control" name="status" id="status" type="select" placeholder="Select status" required="true" >
            <option value="Maintenance">Maintenance</option>
            <option value="Available">Available</option> 
            <option value="Loaned">Loaned</option>
            <option value="Reserved">Reserved</option>0
        </select>
    </div>

    <button class="btn btn-primary" type="submit">Submit</button>
</form>

<%if(locals.errors){%>
    <ul>
       <% errors.forEach(function(error){ %>
            <li><%=error.msg%></li>
        <%});%>
    </ul>
<% } %>